asn1crypto==0.24.0
backcall==0.1.0
backtrader==1.9.70.122
Bottleneck==1.2.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
colorama==0.4.1
colorlog==4.0.2
cryptography==2.5
cycler==0.10.0
decorator==4.3.2
dukpy==0.2.2
empyrical==0.5.0
flake8==3.6.0
future==0.17.1
h5py==2.9.0
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
javascripthon==0.10
jedi==0.13.2
Jinja2==2.10
joblib==0.12.5
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyter-echarts-pypkg==0.1.2
kiwisolver==1.0.1
lml==0.0.2
lxml==4.3.1
macropy3==1.1.0b2
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mkl-fft==1.0.10
mkl-random==1.0.2
numpy==1.15.4
olefile==0.46
pandas==0.24.1
pandas-datareader==0.7.0
parso==0.3.2
patsy==0.5.1
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.8
pycodestyle==2.4.0
pycparser==2.19
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.10
pyflakes==2.0.0
pyfolio==0.9.0
Pygments==2.3.1
pygpu==0.7.6
pymc3==3.6
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyreadline==2.1
PySocks==1.6.8
python-dateutil==2.7.5
pytz==2018.9
pyzmq==17.1.2
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
six==1.12.0
statsmodels==0.9.0
Theano==1.0.4
tornado==5.1.1
tqdm==4.29.1
traitlets==4.3.2
urllib3==1.24.1
-e git+https://github.com/yihengli/valpy@a6b0479f944c4a164d68d0367cef73917eb41430#egg=valpy
wcwidth==0.1.7
win-inet-pton==1.0.1
wincertstore==0.2
wrapt==1.11.1
